services:
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.15.0
    container_name: elasticsearch
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - "ES_JAVA_OPTS=-Xms1g -Xmx1g"
    ulimits:
      memlock: -1
    ports:
      - "9200:9200"
    volumes:
      - es_data:/usr/share/elasticsearch/data
    mem_limit: 2g
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:9200 || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 12
      start_period: 30s

  mysql:
    image: mysql:8.0
    container_name: mysql
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: TestDb
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      retries: 10

  backend:
    image: ghcr.io/emperorsarath/job-portal-server:latest
    container_name: jobportal-backend
    restart: unless-stopped
    volumes:
    - ./keys:/keys
    environment:
      - SPRING_ELASTICSEARCH_URIS=http://elasticsearch:9200
      - spring.datasource.url=jdbc:mysql://mysql:3306/TestDb?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
      - SPRING_DATASOURCE_USERNAME=root
      - SPRING_DATASOURCE_PASSWORD=password
      - SPRING_JPA_HIBERNATE_DDL_AUTO=update
      - JWT_PRIVATE_KEY_PATH: /keys/private.pem
      - JWT_PUBLIC_KEY_PATH: /keys/public.pem
    ports:
      - "8080:8080"
    depends_on:
      elasticsearch:
        condition: service_healthy
      mysql:
        condition: service_healthy
    healthcheck:
      test: ["CMD-SHELL", "wget --no-verbose --tries=1 --spider http://localhost:8080 || exit 1"]
      interval: 5s
      timeout: 3s
      retries: 12
      start_period: 60s

  frontend:
    image: ghcr.io/emperorsarath/jobportal-frontend:latest
    container_name: jobportal-frontend
    restart: unless-stopped
    ports:
      - "3000:3000"
    environment:
      - NEXT_PUBLIC_API_URL=http://backend:8080
    

volumes:
  es_data:
  mysql_data:
